body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.error-message {
  color: #ff4d4f;
  font-size: 12px;
}

.draft-editor {
  &--editable {
    .DraftEditor-root {
      background-color: white;
      padding: 11px 4px;
      border: 1px solid rgb(217, 217, 217);
      border-radius: 2px;
      min-height: 300px;
    }
  }
}

.header {
  width: 100%;
  color: white;
  display: flex;
  padding: 15px;
  height: unset;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: 640px) {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  &__logout-btn {
    margin-top: 20px;
    align-self: flex-end;

    @media (min-width: 640px) {
      margin-top: 0;
    }
  }
}
